{{ define "main" -}}
{{ .Content }}
{{ range .Site.Data.publications }}
  {{ with .preprint }}
    ### Preprints
    {{ range . }}
      **{{ .title }}**\
      {{ delimit ( apply .authors "replace" "." "Lei Yang" "*Lei Yang*" ) ", " }}\
      {{ .date }}
      {{ with .remarks }} - **{{ with .link }}[{{ end }}{{ .text }}{{ with .link }}]({{ . }}){target="blank"}{{ end }}** {{ end }}
      {{ with .links }}\
      {{ range first 1 . }}[{{ .text }}]({{ .link }}){target="blank"}{{ end }}{{ range after 1 . }}, [{{ .text}}]({{ .link }}){target="blank"}{{ end }}
      {{ end }}
      {{ with .press_coverage }}
        Press coverage:
        {{ range . }}
          [{{ .title }}]({{ .url }}){target="blank"}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ with .conference }}
    ### Conference Proceedings
    {{ range . }}
      **{{ .title }}**\
      {{ delimit ( apply .authors "replace" "." "Lei Yang" "*Lei Yang*" ) ", " }}\
      {{ .book }}, {{ .date }}
      {{ with .remarks }} - **{{ with .link }}[{{ end }}{{ .text }}{{ with .link }}]({{ . }}){target="blank"}{{ end }}** {{ end }}
      {{ with .links }}\
      {{ range first 1 . }}[{{ .text }}]({{ .link }}){target="blank"}{{ end }}{{ range after 1 . }}, [{{ .text}}]({{ .link }}){target="blank"}{{ end }}
      {{ end }}
      {{ with .press_coverage }}
        Press coverage:
        {{ range . }}
          [{{ .title }}]({{ .url }}){target="blank"}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}

  {{ with .journal }}
    ### Journal Articles
    {{ range . }}
      **{{ .title }}**\
      {{ delimit ( apply .authors "replace" "." "Lei Yang" "*Lei Yang*" ) ", " }}\
      {{ .book }}, {{ .date }}
      {{ with .remarks }} - **{{ with .link }}[{{ end }}{{ .text }}{{ with .link }}]({{ . }}){target="blank"}{{ end }}** {{ end }}
      {{ with .links }}\
      {{ range first 1 . }}[{{ .text }}]({{ .link }}){target="blank"}{{ end }}{{ range after 1 . }}, [{{ .text}}]({{ .link }}){target="blank"}{{ end }}
      {{ end }}
      {{ with .press_coverage }}
        Press coverage:
        {{ range . }}
          [{{ .title }}]({{ .url }}){target="blank"}
        {{ end }}
      {{ end }}
    {{ end }}
  {{ end }}
{{ end }}
{{- end }}
