<p class="contactinfo"><a href="{{ "#bio" | relURL }}">About</a></p>
{{ with .GetPage "/sections/contact.md" }}
<p class="contactinfo"><a href="{{ "#contact" | relURL }}">Contact</a></p>
{{ end }}
{{ with .GetPage "/sections/office-hours.md" }}
<p class="contactinfo"><a href="{{ "#officehours" | relURL }}">Office Hours</a></p>
{{ end }}
{{ with .Site.Data.publications }}
<p class="contactinfo"><a href="{{ "#publications" | relURL }}">Research</a></p>
{{ end }}
{{ with .GetPage "/sections/teach.md" }}
<p class="contactinfo"><a href="{{ "#teach" | relURL }}">Teaching</a></p>
{{ end }}
{{ with .GetPage "/sections/personal.md" }}
<p class="lastcontactinfo"><a href="{{ "#personal" | relURL }}">Miscellaneous</a></p>
{{ end }}
